name: Docker build and push

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:
    # branches: [ "master" ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]


jobs:
  docker-build:
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: book-hub-umsp/bh-infrastructure/.github/workflows/docker-publish.yml@master
    secrets: inherit
  